{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Add your dynamic content here -->
<!-- Header -->
{% if user.id is not None %}
<header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Manage Category</b></h5>
</header>
<!-- <div class="container"> -->
<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-6 col-md-4">
                <h2>Manage <b>Category</b></h2> {% include 'includes/alerts.html' %}
            </div>
            <div class="col-md-auto">
                <div data-toggle="tooltip" title="Click here to add a new Category">
                    <a href="#addBookCategoryModal" class="btn btn-success" data-toggle="modal"><i class="material-icons" style="font-size: 14px;">&#xE147;</i> <span>Add New Category</span></a>
                </div>
            </div>
            <div class="col col-lg-4">
                <form method="GET" class="form-inline">
                    <!--Segmented buttons-->
                    <input name="query" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-info" type="submit" data-toggle="tooltip" title="Click here to search"><i class="fa fa-search"></i> Search</button>
                </form>
            </div>
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Category Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in cat_obj %}
            <tr>
                <!--<td>
                    <span class="custom-checkbox">
                        <input type="checkbox" id="checkbox1" name="options[]" value="1">
                        <label for="checkbox1"></label>
                    </span>
                </td>-->
                <td>{{ forloop.counter }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="#editBookCategorykModal-{{ forloop.counter }}" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit" style="color:#F39C12;">&#xE254;</i></a>
                    <a href="#deleteBookCategoryModal-{{ forloop.counter }}" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete" style="color:#CB4335;">&#xE872;</i></a>
                    <a href="#viewBookCategoryModal-{{ forloop.counter }}" class="view" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="View" style="color:#28B463 ;">&#xE8F4;</i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!--Pagination -->
        <div class="float-right">
            <div class="clearfix" class="float-right">
                <div class="hint-text">Showing <b>{{ books|length }}</b> out of <b>{{ books.count }}</b> entries</div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Previous</a></li>
                    {% for i in books.paginator.page_range %}
                    {% if books.number == i %}
                    <li class="page-item active"><a href="#" class="page-link">{{ i }}</a></li>
                    {% else %}
                    <li class="page-item"><a href="#" class="page-link">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    <li class="page-item"><a href="#" class="page-link">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Add Book Modal HTML -->
    <div id="addBookCategoryModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{% url 'add_category' %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h4 class="modal-title">Add Book Category</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Category Name</label>
                            <input name="category_name" type="text" class="form-control" required>
                        </div>
                        
                        <!-- Add other book fields as needed -->
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-success" value="Add">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Edit Book Modal HTML -->
    {% for category in cat_obj %}
    <div id="editBookCategorykModal-{{ forloop.counter }}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/books/update_category/{{category.id}}" method="POST">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Book Category</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Category Name</label>
                            <input name="category_name" value="{{ category.name }}" type="text" class="form-control" required>
                        </div>
                    <!-- Add other book fields as needed -->
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-info" value="Update">
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}

<!-- Delete Book Modal HTML -->
{% for category in cat_obj %}
<div id="deleteBookCategoryModal-{{ forloop.counter }}" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/books/delete_category/{{category.id}}"  method="POST">
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title">Delete Book Category</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete the book "{{ category.name }}"?</p>
                    <p class="text-warning"><small>This action cannot be undone.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}

<!-- View Book Modal HTML -->
{% for category in cat_obj %}
<div id="viewBookCategoryModal-{{ forloop.counter }}" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/books/view_category/{{category.id}}"  method="POST">
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title">View Book Category</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Category</label>
                        <input readonly name="category_name" value="{{ category.name }}" type="text" class="form-control">
                    </div>
                    <!-- Display other book fields as needed -->
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Close">
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}

{% else %}
<div class="w3-third">
    <h5>Static Data</h5>
    <p>This is a static block when no one is logged in.</p>
    <img src="{% static 'images/region.jpg' %}" style="width:100%" alt="Google Regional Map">
</div>

{% endif %}
{% endblock %}
