{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Add ur Dynamic Content here -->
<!-- Header -->
{% if user.id is not None %}
<header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Dashboard</b></h5>
</header>
{% include 'includes/alerts.html' %}
<div class="container-fluid">
    <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-quarter">
            <div class="w3-container w3-red w3-padding-16">
                <div class="w3-left"><i class="fa fa-book w3-xxxlarge"></i></div>
                <div class="w3-right">
                    <h3>{{total_book}}</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Total Books</h4>
                <a href="{% url 'managebook' %}">
                    <div class="w-auto p-3" style="background-color: rgba(255, 0, 0, .1); color: white !important;">More
                        Info
                    </div>
                </a>
            </div>
        </div>
        <div class="w3-quarter">
            <div class="w3-container w3-blue w3-padding-16">
                <div class="w3-left"><i class="fa fa-book w3-xxxlarge"></i></div>
                <div class="w3-right">
                    <h3>{{borrowed_book_count}}</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Books Borrowed</h4>
                <a href="{% url 'managebook' %}">
                    <div class="w-auto p-3" style="background-color: rgba(255, 0, 0, .1); color: white !important;">More
                        Info
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-quarter">
            <div class="w3-container w3-teal w3-padding-16">
                <div class="w3-left"><i class="fa fa-book w3-xxxlarge"></i></div>
                <div class="w3-right">
                    <h3>{{available_book_count}}</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Books Available</h4>
                <a href="{% url 'managebook' %}">
                    <div class="w-auto p-3" style="background-color: rgba(255, 0, 0, .1); color: white !important;">More
                        Info
                    </div>
                </a>
            </div>
        </div>
        <div class="w3-quarter">
            <div class="w3-container w3-orange w3-text-white w3-padding-16">
                <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
                <div class="w3-right">
                    <h3>{{ active_user_count}}</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Active Users</h4>
                <a href="{% url 'manageuser' %}">
                    <div class="w-auto p-3" style="background-color: rgba(255, 0, 0, .1); color: white !important;">More
                        Info
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>
<div class="container-fluid">
	<div class="w3-row-padding w3-margin-bottom">
		     <div class="w3-quarter">
            <div class="w3-container w3-cyan w3-text-white w3-padding-16">
                <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
                <div class="w3-right">
                    <h3>{{ total_inactive_user}}</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Inactive Users</h4>
                <a href="{% url 'manageuser' %}">
                    <div class="w-auto p-3" style="background-color: rgba(255, 0, 0, .1); color: white !important;">More
                        Info
                    </div>
                </a>
            </div>
        </div>
	</div>
</div>

{% else %}
<div class="w3-third">
    <h5>Regions</h5>
    <img src="{% static 'images/region.jpg' %}" style="width:100%" alt="Google Regional Map">
</div>

{% endif %}
{% endblock %}